<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="COLOR" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class=
                "net.titanium.corelog.loggers.ColoredConsoleLogger"
            ><!-- Leave Empty --></layout>
        </encoder>
    </appender>
    <!-- Level can be: 'trace', 'debug', 'info', 'warn', and 'error' -->
    <root level="info">
        <appender-ref ref="COLOR" />
    </root>
</configuration>