#========================================#
# Large amounts of code / logs
/node_modules
/corelogs
#========================================#

#========================================#
# IDE specific files
/.vscode
/.idea
/.vs
#========================================#

#========================================#
# Private data
/private
#========================================#

#========================================#
# Build output
__pycache__
/.turbobuild
/.gradle
/.turbo
/.build
/target
/build
/dist
/out
/bin
#========================================#

#========================================#
# Misc
*.lock
main.test.ts
*.__.*
package-lock.json
#========================================#
